.menu {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 200;

  display: none;
  overflow: auto;

  background-color: #424d54;
}

@media screen and (min-width: 1920px) {
  .menu {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .menu {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .menu {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .menu {
    overflow: visible;
    height: 100vh;
  }
}

.navbar {
  position: fixed;
  z-index: 100;

  display: flex;
  width: 100%;
  padding: 40px 4.15vw;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 1920px) {
  .navbar {
    padding: 2.22vw 6vw;
  }
}

@media screen and (max-width: 991px) {
  .navbar {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    padding: 24px;
  }
}

@media screen and (max-width: 479px) {
  .navbar {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.navbar.for-menu {
  mix-blend-mode: normal;
}

.navbar-inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo-container {
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

.navbar-logo-container.is-empty {
  width: 50px;
  height: 50px;
}

.navbar-logo-container.is-absolute {
  position: fixed;
  left: 4.15vw;
  top: 40px;
  z-index: 100;
  mix-blend-mode: difference;
}

@media screen and (min-width: 1920px) {
  .navbar-logo-container.is-absolute {
    left: 6vw;
    top: 2.2vw;
  }
}

@media screen and (max-width: 767px) {
  .navbar-logo-container.is-absolute {
    top: 25px;
  }
}

.navbar-logo-text {
  position: absolute;
  z-index: -1;

  color: white;
  font-size: 20px;
  line-height: 140%;
  font-weight: 700;
}

@media screen and (min-width: 1920px) {
  .navbar-logo-text {
    font-size: 1.11vw;
  }
}

.navbar-logo-text.absolute {
  position: absolute;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ladar-logo {
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.menu-button {
  display: flex;
  padding: 0.6rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  background-color: hsla(33.333333333333414, 16.36%, 89.22%, 0.55);

  color: var(--theme--text-dark-1);

  cursor: pointer;
}

.menu-text {
  margin-bottom: 0.25rem;
  color: var(--primitives--gray-800);
  font-size: 0.9rem;
  line-height: 1;
}

.top-menu-line {
  width: 36px;
  height: 2px;
  background-color: var(--primitives--gray-600);
}

@media screen and (min-width: 1920px) {
  .top-menu-line {
    width: 2vw;
  }
}

.bottom-menu-line {
  width: 56%;
  height: 2px;
  margin-top: 5px;
  margin-bottom: 0.15rem;
  background-color: var(--primitives--gray-600);
}

@media screen and (min-width: 1920px) {
  .bottom-menu-line {
    width: 1.11vw;
    margin-top: 0.5vw;
  }
}

.menu-links-container {
  display: flex;
  overflow: hidden;
  width: 50vw;
  height: 100vh;
  margin-left: auto;
  padding-top: 15vw;
  padding-bottom: 10vw;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (max-width: 991px) {
  .menu-links-container {
    padding-top: 20vw;
    padding-bottom: 12vw;
  }
}

@media screen and (max-width: 767px) {
  .menu-links-container {
    overflow: scroll;
    width: 100%;
    padding-top: 15vw;
    padding-bottom: 10vw;
  }
}

@media screen and (max-width: 479px) {
  .menu-links-container {
    padding-top: 8vh;
    padding-bottom: 0vw;
  }
}

.menu-link {
  display: flex;
  margin: 20px 20px 20px 60px;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;

  text-decoration: none;
}

@media screen and (min-width: 1920px) {
  .menu-link:global(.w--current) {
    margin-top: 1em;
  }
}

@media screen and (max-width: 767px) {
  .menu-link {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 479px) {
  .menu-link {
    margin-top: 14px;
    margin-bottom: 14px;
  }
}

.menu-number-wrapper {
  padding-top: 3px;
  padding-right: 10px;
}

@media screen and (max-width: 479px) {
  .menu-number-wrapper {
    margin-bottom: 8px;
  }
}

.menu-number-text {
  color: hsla(0, 0.00%, 100.00%, 0.50);
  line-height: 90%;
  font-weight: 400;
}

@media screen and (min-width: 1920px) {
  .menu-number-text {
    font-size: 1vw;
  }
}

@media screen and (max-width: 479px) {
  .menu-number-text {
    font-size: 12px;
  }
}

.big-text {
  max-width: 40vw;
  margin-top: 24px;
  margin-bottom: 64px;

  color: white;
  font-size: 9vw;
  line-height: 90%;
  font-weight: 700;
}

@media screen and (min-width: 1920px) {
  .big-text {
    margin-top: 1.33vw;
    margin-bottom: 3.56vw;
  }
}

@media screen and (max-width: 991px) {
  .big-text {
    margin-top: 18px;
    margin-bottom: 42px;
    font-size: 12vw;
  }
}

@media screen and (max-width: 767px) {
  .big-text {
    margin-top: 14px;
    margin-bottom: 34px;
  }
}

@media screen and (max-width: 479px) {
  .big-text {
    margin-top: 12px;
    margin-bottom: 28px;
    font-size: 14vw;
  }
}

.big-text.for-menu {
  max-width: none;
  margin-top: 0px;
  margin-bottom: 0px;
  color: hsla(0, 0.00%, 100.00%, 0.50);
  text-align: center;
}

@media screen and (max-width: 479px) {
  .big-text.for-menu {
    font-size: 32px;
  }
}

.big-text.for-menu.customized {
  font-size: 2.5em;
}

@media screen and (max-width: 991px) {
  .big-text.for-menu.customized {
    font-size: 2.3em;
  }
}

@media screen and (max-width: 479px) {
  .big-text.for-menu.customized {
    font-size: 20px;
  }
}

.big-text.for-footer {
  max-width: none;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 6vw;
  text-align: left;
}

@media screen and (max-width: 991px) {
  .big-text.for-footer {
    color: #424d54;
    font-size: 6vw;
  }
}

@media screen and (max-width: 767px) {
  .big-text.for-footer {
    font-size: 6vw;
  }
}

@media screen and (max-width: 479px) {
  .big-text.for-footer {
    font-size: 1.5rem;
  }
}

.big-text.for-footer.relative {
  position: relative;
  left: 10.9vw;
}

@media screen and (max-width: 479px) {
  .big-text.for-footer.relative {
    position: static;
  }
}

.menu-background-image {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 50vw;
  bottom: 0px;
  z-index: -1;

  opacity: 0;
}

@media screen and (max-width: 767px) {
  .menu-background-image {
    display: none;
  }
}

.image {
  width: 90vw;
  height: 100%;
  object-fit: cover;
}

.image.testimonial-image {
  width: 40vw;
}

@media screen and (min-width: 1920px) {
  .image.testimonial-image {
    width: 40vw;
  }
}

@media screen and (min-width: 1440px) {
  .image.testimonial-image {
    position: relative;
    width: 40vw;
    object-fit: contain;
  }
}

@media screen and (max-width: 991px) {
  .image.testimonial-image {
    object-fit: contain;
  }
}

@media screen and (max-width: 767px) {
  .image.testimonial-image {
    position: static;
    top: 0px;
    width: 60vw;
    object-fit: contain;
  }
}

@media screen and (max-width: 479px) {
  .image.testimonial-image {
    width: 100%;
  }
}

.image.for-menu {
  filter: none;
}

.image.social-footer {
  width: 2vw;
}

@media screen and (max-width: 991px) {
  .image.social-footer {
    width: 5vw;
  }
}

@media screen and (max-width: 767px) {
  .image.is-full-width-mobile {
    width: auto;
  }
}

.image.sidebyside {
  width: 84vw;
}

@media screen and (max-width: 767px) {
  .image.sidebyside {
    width: auto;
  }
}

.image.zero-saturation-image {
  filter: saturate(0%);
}

.menu-socials {
  position: fixed;
  top: 50%;
  right: 0px;

  display: none;
  padding-right: 4.15vw;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

@media screen and (min-width: 1920px) {
  .menu-socials {
    padding-right: 6vw;
  }
}

@media screen and (max-width: 991px) {
  .menu-socials {
    padding-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .menu-socials {
    padding-right: 24px;
  }
}

@media screen and (max-width: 479px) {
  .menu-socials {
    position: static;
    padding-right: 0px;
    flex-direction: row;
  }
}

.menu-social {
  position: relative;
  overflow: hidden;
  margin-top: 4px;
  margin-bottom: 4px;
  text-decoration: none;
}

@media screen and (min-width: 1920px) {
  .menu-social {
    margin-top: 0.22vw;
    margin-bottom: 0.22vw;
  }
}

@media screen and (max-width: 479px) {
  .menu-social {
    margin: 0px 16px;
  }
}

.menu-social-text {
  color: white;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (min-width: 1920px) {
  .menu-social-text {
    font-size: 0.78vw;
  }
}

.menu-social-text.absolute {
  position: absolute;
}

@media screen and (max-width: 479px) {
  .menu-underlay {
    position: absolute;
    top: 0px;
    z-index: -1;

    width: 100%;
    height: 200vh;

    background-color: #424d54;
  }
}