.navbar {
  position: fixed;
  z-index: 100;

  display: flex;
  width: 100%;
  padding: 40px 4.15vw;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 1920px) {
  .navbar {
    padding: 2.22vw 6vw;
  }
}

@media screen and (max-width: 991px) {
  .navbar {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    padding: 24px;
  }
}

@media screen and (max-width: 479px) {
  .navbar {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.navbar.for-menu {
  mix-blend-mode: normal;
}

.navbar-inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo-text {
  position: absolute;
  z-index: -1;

  color: white;
  font-size: 20px;
  line-height: 140%;
  font-weight: 700;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 1920px) {
  .navbar-logo-text {
    font-size: 1.11vw;
  }
}

.navbar-logo-text.absolute {
  position: absolute;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-logo-container {
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

.navbar-logo-container.is-empty {
  width: 50px;
  height: 50px;
}

.navbar-logo-container.is-absolute {
  position: fixed;
  left: 4.15vw;
  top: 40px;
  z-index: 100;
  mix-blend-mode: difference;
}

@media screen and (min-width: 1920px) {
  .navbar-logo-container.is-absolute {
    left: 6vw;
    top: 2.2vw;
  }
}

@media screen and (max-width: 767px) {
  .navbar-logo-container.is-absolute {
    top: 25px;
  }
}

.nav-right-container {
  display: flex;
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
}

.menu-button {
  display: flex;
  padding: 0.6rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  background-color: hsla(33.333333333333414, 16.36%, 89.22%, 0.55);

  color: var(--theme--text-dark-1);

  cursor: pointer;
}

.menu-text {
  margin-bottom: 0.25rem;
  color: var(--primitives--gray-800);
  font-size: 0.9rem;
  line-height: 1;
}

.top-menu-line {
  width: 36px;
  height: 2px;
  background-color: var(--primitives--gray-600);
}

@media screen and (min-width: 1920px) {
  .top-menu-line {
    width: 2vw;
  }
}

.bottom-menu-line {
  width: 56%;
  height: 2px;
  margin-top: 5px;
  margin-bottom: 0.15rem;
  background-color: var(--primitives--gray-600);
}

@media screen and (min-width: 1920px) {
  .bottom-menu-line {
    width: 1.11vw;
    margin-top: 0.5vw;
  }
}