.footer {
  position: relative;

  display: flex;
  overflow: hidden;
  min-height: 64vh;
  padding-top: 120px;
  padding-left: 0px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;

  background-color: #424d54;

  text-align: center;
}

@media screen and (min-width: 1920px) {
  .footer {
    padding-top: 14vh;
  }
}

@media screen and (max-width: 991px) {
  .footer {
    min-height: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    flex-direction: column;
    align-items: flex-start;

    background-color: white;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 0px;
  }
}

@media screen and (max-width: 479px) {
  .footer {
    padding-right: 0px;
    padding-left: 0px;
    text-align: left;
  }
}

.footer-container {
  position: relative;

  display: flex;
  width: 100%;
  padding-right: 8.33vw;
  padding-left: 25vw;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 991px) {
  .footer-container {
    padding-right: 0vw;
    padding-left: 0vw;
    background-color: #424d54;
  }
}

.upper-footer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: stretch;
}

@media screen and (max-width: 991px) {
  .upper-footer {
    flex-direction: column;
    align-items: flex-start;
    background-color: #e8e4df;
  }
}

.lets-talk-container {
  min-width: 60%;
}

@media screen and (max-width: 991px) {
  .lets-talk-container {
    position: relative;

    display: grid;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: stretch;
    grid-auto-columns: 1fr;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    grid-template-columns: 1fr 0.75fr;
    grid-template-rows: auto;

    background-color: hsla(0, 0.00%, 100.00%, 1.00);
  }
}

@media screen and (max-width: 479px) {
  .lets-talk-container {
    display: block;
    width: 100%;
    flex-direction: column-reverse;
  }
}

.lets-talk-image {
  display: none;
}

@media screen and (max-width: 991px) {
  .lets-talk-image {
    display: block;
    object-fit: cover;
  }
}

@media screen and (max-width: 479px) {
  .div-block-3 {
    display: flex;
    padding: 1rem;
    flex-direction: column;
  }
}

@media screen and (max-width: 991px) {
  .div-block-3.footer-mobile-text {
    margin-right: 3rem;
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }
}

@media screen and (max-width: 479px) {
  .div-block-3.footer-mobile-text {
    width: 100%;
    padding-top: 1.9rem;
    padding-bottom: 1.9rem;
  }
}

@media screen and (max-width: 991px) {
  .div-block-3.footer-mobile-text.custom {
    width: 100%;
    padding-top: 5.6rem;
    padding-bottom: 5.6rem;
    padding-left: 1rem;
    background-color: #e8e4df;
  }
}

@media screen and (max-width: 479px) {
  .flex-mobile {
    display: flex;
    grid-column-gap: 0.25rem;
    grid-row-gap: 0.25rem;
  }
}

.big-text {
  max-width: 40vw;
  margin-top: 24px;
  margin-bottom: 64px;

  color: white;
  font-size: 9vw;
  line-height: 90%;
  font-weight: 700;
}

@media screen and (min-width: 1920px) {
  .big-text {
    margin-top: 1.33vw;
    margin-bottom: 3.56vw;
  }
}

@media screen and (max-width: 991px) {
  .big-text {
    margin-top: 18px;
    margin-bottom: 42px;
    font-size: 12vw;
  }
}

@media screen and (max-width: 767px) {
  .big-text {
    margin-top: 14px;
    margin-bottom: 34px;
  }
}

@media screen and (max-width: 479px) {
  .big-text {
    margin-top: 12px;
    margin-bottom: 28px;
    font-size: 14vw;
  }
}

.big-text.for-menu {
  max-width: none;
  margin-top: 0px;
  margin-bottom: 0px;
  color: hsla(0, 0.00%, 100.00%, 0.50);
  text-align: center;
}

@media screen and (max-width: 479px) {
  .big-text.for-menu {
    font-size: 32px;
  }
}

.big-text.for-menu.customized {
  font-size: 2.5em;
}

@media screen and (max-width: 991px) {
  .big-text.for-menu.customized {
    font-size: 2.3em;
  }
}

@media screen and (max-width: 479px) {
  .big-text.for-menu.customized {
    font-size: 20px;
  }
}

.big-text.for-footer {
  max-width: none;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 6vw;
  text-align: left;
}

@media screen and (max-width: 991px) {
  .big-text.for-footer {
    color: #424d54;
    font-size: 6vw;
  }
}

@media screen and (max-width: 767px) {
  .big-text.for-footer {
    font-size: 6vw;
  }
}

@media screen and (max-width: 479px) {
  .big-text.for-footer {
    font-size: 1.5rem;
  }
}

.big-text.for-footer.relative {
  position: relative;
  left: 10.9vw;
}

@media screen and (max-width: 479px) {
  .big-text.for-footer.relative {
    position: static;
  }
}

.footer-secondary-button-wrapper {
  display: flex;
  margin-top: 32px;
  margin-left: 12vw;
}

@media screen and (min-width: 1920px) {
  .footer-secondary-button-wrapper {
    margin-top: 1.78vw;
  }
}

@media screen and (max-width: 767px) {
  .footer-secondary-button-wrapper {
    margin-top: 24px;
  }
}

@media screen and (max-width: 479px) {
  .footer-secondary-button-wrapper {
    margin-top: 18px;
    justify-content: flex-end;
  }
}

.secondary-button {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.secondary-btn-text-wrapper {
  position: relative;
  overflow: hidden;
  margin-right: 14px;
}

@media screen and (min-width: 1920px) {
  .secondary-btn-text-wrapper {
    margin-right: 0.78vw;
  }
}

.secondary-button-text {
  color: white;
  font-size: 20px;
  line-height: 140%;
  font-weight: 700;
  text-decoration: none;
}

@media screen and (min-width: 1920px) {
  .secondary-button-text {
    font-size: 1.11vw;
  }
}

@media screen and (max-width: 991px) {
  .secondary-button-text.for-footer {
    color: #424d54;
  }
}

.secondary-button-text.for-footer.absolute {
  position: absolute;
}

.secondary-btn-arrow-wrapper {
  position: relative;

  display: flex;
  overflow: hidden;
  width: 46px;
  height: 46px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 2px solid white;
  border-radius: 100%;
}

@media screen and (min-width: 1920px) {
  .secondary-btn-arrow-wrapper {
    width: 2.56vw;
    height: 2.56vw;
  }
}

.secondary-btn-arrow-wrapper.dark {
  border-color: #222;
}

.secondary-btn-arrow-wrapper.dark.small {
  width: 36px;
  height: 36px;
  color: var(--theme--text-dark-1);
}

.secondary-btn-arrow-wrapper.for-footer {
  overflow: hidden;
}

@media screen and (max-width: 991px) {
  .secondary-btn-arrow-wrapper.for-footer {
    border-color: #424d54;
  }
}

.arrow-right {
  position: absolute;
  width: 14px;
}

@media screen and (min-width: 1920px) {
  .arrow-right {
    width: 0.78vw;
  }
}

.arrow-right.translate-left {
  transform: translate(-240%, 0px);
}

@media screen and (max-width: 991px) {
  .arrow-right.translate-left {
    transform: translate(0%, 0px);
  }
}

@media screen and (max-width: 991px) {
  .arrow-right.translate-left.hide-on-mobile {
    opacity: 0;
  }
}

@media screen and (max-width: 991px) {
  .arrow-right.white {
    opacity: 0;
  }
}

.arrow-right.white.show-on-mobile {
  color: var(--theme--text-dark-1);
}

@media screen and (max-width: 991px) {
  .arrow-right.white.show-on-mobile {
    opacity: 1;
  }
}

.main-links {
  display: flex;
  width: 100%;
  flex-direction: column;
}

@media screen and (max-width: 991px) {
  .main-links {
    padding-top: 80px;
    padding-right: 30px;
    padding-left: 30px;
    align-items: stretch;
    background-color: #424d54;
  }
}

@media screen and (max-width: 767px) {
  .main-links {
    padding-top: 70px;
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 479px) {
  .main-links {
    padding-top: 60px;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.footer-links-container {
  display: flex;
  width: 100%;
  margin-top: 2vw;
  flex-direction: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

@media screen and (min-width: 1920px) {
  .footer-links-container {
    grid-column-gap: 1.78vw;
    grid-row-gap: 1.78vw;
  }
}

@media screen and (max-width: 991px) {
  .footer-links-container {
    margin-top: 0vw;
    flex-direction: row;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: 200px 27vw 200px auto;
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 767px) {
  .footer-links-container {
    grid-row-gap: 70px;
    grid-template-columns: 40vw auto;
    grid-template-rows: auto auto;
  }
}

@media screen and (max-width: 479px) {
  .footer-links-container {
    flex-direction: column;
    grid-row-gap: 60px;
  }
}

.footer-links-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (max-width: 991px) {
  .footer-links-column {
    width: 130px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.footer-links-column.sideline-on-mobile {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

@media screen and (max-width: 991px) {
  .footer-links-column.sideline-on-mobile {
    width: 50%;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 24px;
    border-left: 0px solid hsla(0, 0.00%, 100.00%, 0.50);
  }
}

@media screen and (max-width: 479px) {
  .footer-links-column.sideline-on-mobile {
    padding-left: 16px;
  }
}

.footer-link {
  display: block;
  font-weight: 500;
  text-align: left;
  text-decoration: none;
}

@media screen and (min-width: 1920px) {
  .footer-link {
    font-size: 1vw;
  }
}

.footer-link:hover {
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  .footer-link {
    color: hsla(0, 0.00%, 100.00%, 0.50);
  }
}

.footer-link.title {
  display: none;
}

@media screen and (max-width: 991px) {
  .footer-link.title {
    display: block;
    margin-top: 9px;
    margin-bottom: 6px;

    color: white;
    font-size: 20px;
    font-weight: 600;
    white-space: nowrap;
  }
}

.footer-link.absolute {
  position: absolute;
}

.footer-link.secondary {
  color: hsla(0, 0.00%, 100.00%, 0.50);
}

.footer-link.secondary.smaller {
  font-size: 14px;
}

@media screen and (min-width: 1920px) {
  .footer-link.secondary.smaller {
    font-size: 0.78vw;
  }
}

.footer-link-column-grid {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 0.25rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.footer-link-wrapper {
  position: relative;
  overflow: hidden;
  margin-top: 9px;
  margin-bottom: 9px;
  text-decoration: none;
}

@media screen and (min-width: 1920px) {
  .footer-link-wrapper {
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
  }
}

.footer-link-wrapper.solo {
  width: 42%;
  color: whitesmoke;
}

@media screen and (min-width: 1920px) {
  .footer-link-wrapper.solo {
    display: block;
  }
}

.footer-link-wrapper.solo:global(.w--current) {
  color: #d2caa1;
}

@media screen and (max-width: 767px) {
  .footer-link-wrapper.solo {
    width: 100%;
  }
}

.footer-grid-cell {
  display: flex;
  width: 46%;
  align-items: flex-start;
}

@media screen and (max-width: 767px) {
  .footer-grid-cell {
    width: 100%;
  }
}

.socials-and-newsletter-container {
  display: none;
  margin-top: 40px;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

@media screen and (min-width: 1920px) {
  .socials-and-newsletter-container {
    margin-top: 2.22vw;
  }
}

@media screen and (max-width: 991px) {
  .socials-and-newsletter-container {
    width: 75%;
    margin-top: 80px;
    margin-bottom: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 24px;
    flex-direction: column-reverse;

    border-left: 0px solid hsla(0, 0.00%, 100.00%, 0.50);
  }
}

@media screen and (max-width: 767px) {
  .socials-and-newsletter-container {
    width: 100%;
    margin-top: 70px;
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 479px) {
  .socials-and-newsletter-container {
    margin-top: 60px;
    margin-bottom: 60px;
    padding-left: 16px;
  }
}

.socials {
  display: flex;
  margin-bottom: 50px;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (min-width: 1920px) {
  .socials {
    margin-top: 200px;
    margin-bottom: 150px;
  }
}

@media screen and (min-width: 1440px) {
  .socials {
    margin-top: 50px;
    margin-bottom: 100px;
  }
}

.social {
  min-height: 24px;
  min-width: 24px;
  margin-right: 28px;
}

@media screen and (min-width: 1920px) {
  .social {
    min-height: 1.33vw;
    min-width: 1.33vw;
    margin-right: 1.56vw;
  }
}

.image {
  width: 90vw;
  height: 100%;
  object-fit: cover;
}

.image.testimonial-image {
  width: 40vw;
}

@media screen and (min-width: 1920px) {
  .image.testimonial-image {
    width: 40vw;
  }
}

@media screen and (min-width: 1440px) {
  .image.testimonial-image {
    position: relative;
    width: 40vw;
    object-fit: contain;
  }
}

@media screen and (max-width: 991px) {
  .image.testimonial-image {
    object-fit: contain;
  }
}

@media screen and (max-width: 767px) {
  .image.testimonial-image {
    position: static;
    top: 0px;
    width: 60vw;
    object-fit: contain;
  }
}

@media screen and (max-width: 479px) {
  .image.testimonial-image {
    width: 100%;
  }
}

.image.for-menu {
  filter: none;
}

.image.social-footer {
  width: 2vw;
}

@media screen and (max-width: 991px) {
  .image.social-footer {
    width: 5vw;
  }
}

@media screen and (max-width: 767px) {
  .image.is-full-width-mobile {
    width: auto;
  }
}

.image.sidebyside {
  width: 84vw;
}

@media screen and (max-width: 767px) {
  .image.sidebyside {
    width: auto;
  }
}

.image.zero-saturation-image {
  filter: saturate(0%);
}

.lower-footer {
  position: relative;

  display: flex;
  overflow: hidden;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 47%;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 0px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (min-width: 1920px) {
  .lower-footer {
    padding-top: 1.67vw;
    padding-bottom: 1.67vw;
  }
}

@media screen and (max-width: 991px) {
  .lower-footer {
    margin-top: 4rem;
    padding: 0px 30px 40px;
    grid-template-columns: 30vw auto;
    border-top: 0px solid black;
    background-color: #424d54;
  }
}

@media screen and (max-width: 767px) {
  .lower-footer {
    padding-right: 24px;
    padding-bottom: 30px;
    padding-left: 24px;
    grid-column-gap: 0px;
    grid-template-columns: 40vw auto;
  }
}

@media screen and (max-width: 479px) {
  .lower-footer {
    padding-right: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
  }
}

.footer-line {
  position: absolute;
  left: 12vw;
  top: 0px;

  width: 100%;
  height: 1px;

  background-color: hsla(0, 0.00%, 100.00%, 0.50);
}

@media screen and (max-width: 991px) {
  .footer-line {
    left: 0vw;
    display: block;
    width: 90%;
    margin-right: 44px;
    margin-left: 44px;
  }
}

@media screen and (max-width: 991px) {
  .lower-footer-item {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 24px;
    border-left: 0px solid hsla(0, 0.00%, 100.00%, 0.50);
  }
}

@media screen and (max-width: 479px) {
  .lower-footer-item {
    padding-left: 16px;
  }
}

.white-link {
  color: white;
  text-decoration: none;
}