.section_hero-slideshow {
  position: relative;
  height: 100vh;
}

@media screen and (min-width: 1280px) {
  .section_hero-slideshow {
    height: 100vh;
  }
}

.hero-slideshow {
  height: 100%;
  background-color: transparent;
}

.hero-slideshow.staff {
  height: 40vw;
}

@media screen and (min-width: 1920px) {
  .hero-slideshow.staff {
    height: 35vw;
  }
}

@media screen and (max-width: 767px) {
  .hero-slideshow.staff {
    height: 30vh;
  }
}

@media screen and (min-width: 1920px) {
  .big-slideshow_slide {
    width: 100%;
  }
}

.big-slideshow_slide-content {
  position: relative;

  display: flex;
  overflow: hidden;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1920px) {
  .big-slideshow_slide-content {
    width: 100%;
  }
}

.big-slideshow_slide-img {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  width: 100%;
  height: 100%;

  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.25)), url("https://uploads-ssl.webflow.com/65459ab6440c1238e7ede277/6549b307d20b2802a8d50bac_3L9A3394.jpg");
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;

  object-fit: cover;
}

.big-slideshow_slide-img.four {
  background-image: linear-gradient(to bottom, hsla(0, 0.00%, 0.00%, 0.35),hsla(0, 0.00%, 0.00%, 0.35)), url("https://uploads-ssl.webflow.com/65459ab6440c1238e7ede277/6549b307d20b2802a8d50bb2_CF036748_W_Architekten_Buero_400.jpg");
  background-position: 0px 0px, 0% 50%;
  background-size: auto, cover;
  transform-origin: 0% 50%;
}

.big-slideshow_slide-img.two {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35)), url("https://uploads-ssl.webflow.com/65459ab6440c1238e7ede277/6549b307d20b2802a8d50bb8_DSC03925.jpg");
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  transform-origin: 0% 50%;
  object-fit: cover;
}

.big-slideshow_slide-img.three {
  background-image: linear-gradient(to bottom, hsla(0, 0.00%, 0.00%, 0.35),hsla(0, 0.00%, 0.00%, 0.35)), url("https://uploads-ssl.webflow.com/65459ab6440c1238e7ede277/6549b307d20b2802a8d50bca_DSC03934.jpg");
  background-position: 0px 0px, 0% 50%;
  background-size: auto, cover;
  transform-origin: 0% 50%;
}

@media screen and (min-width: 1920px) {
  .big-slideshow_slide-img.three {
    background-image: linear-gradient(to bottom, transparent,transparent), url("https://uploads-ssl.webflow.com/65459ab6440c1238e7ede277/6549b307d20b2802a8d50bbe_DSC03934.jpg");
  }
}

@media screen and (min-width: 1440px) {
  .big-slideshow_slide-img.three {
    background-image: linear-gradient(to bottom, transparent,transparent), url("https://uploads-ssl.webflow.com/65459ab6440c1238e7ede277/6549b307d20b2802a8d50bc4_DSC03934.webp");
  }
}

.big-slideshow_slide-img.a2 {
  background-image: url("https://uploads-ssl.webflow.com/65459ab6440c1238e7ede277/6549b335d20b2802a8d52ee6_3L9A3078.jpg"), linear-gradient(to bottom, hsla(0, 0.00%, 0.00%, 0.35),hsla(0, 0.00%, 0.00%, 0.35));
  background-position: 100% 50%, 0px 0px;
  background-size: cover, auto;
  transform-origin: 100% 50%;
}

.big-slideshow_slide-img.a5 {
  background-image: url("https://uploads-ssl.webflow.com/65459ab6440c1238e7ede277/6549b335d20b2802a8d52ed9_DSC03780.jpg"), linear-gradient(to bottom, rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.25));
  background-position: 0px 0px, 0px 0px;
  background-size: cover, auto;
}

.big-slideshow_slide-img.a1 {
  background-image: url("https://uploads-ssl.webflow.com/65459ab6440c1238e7ede277/6549b335d20b2802a8d52ed3_3L9A3449.jpg"), linear-gradient(to bottom, hsla(0, 0.00%, 0.00%, 0.35),hsla(0, 0.00%, 0.00%, 0.35));
  background-position: 0px 0px, 0px 0px;
  background-size: cover, auto;
}

.big-slideshow_slide-img.a3 {
  background-image: url("https://uploads-ssl.webflow.com/65459ab6440c1238e7ede277/6549b335d20b2802a8d52edf_CF149380_W_Architekten_Buero_399.jpg"), linear-gradient(to bottom, hsla(0, 0.00%, 0.00%, 0.35),hsla(0, 0.00%, 0.00%, 0.35));
  background-position: 0% 72%, 0px 0px;
  background-size: cover, auto;
  filter: saturate(71%);
  transform-origin: 0% 50%;
}

.big-slideshow_slide-img.a6 {
  background-image: url("https://uploads-ssl.webflow.com/65459ab6440c1238e7ede277/6549b335d20b2802a8d52eec_DSC03817.jpg"), linear-gradient(to bottom, rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.25));
  background-position: 0px 0px, 0px 0px;
  background-size: cover, auto;
}

.big-slideshow_slide-img.a4 {
  background-image: url("https://uploads-ssl.webflow.com/65459ab6440c1238e7ede277/6549b335d20b2802a8d52ecd_3L9A3093.jpg"), linear-gradient(to bottom, hsla(0, 0.00%, 0.00%, 0.35),hsla(0, 0.00%, 0.00%, 0.35));
  background-position: 50% 50%, 0px 0px;
  background-size: cover, auto;
  filter: saturate(70%);
  transform-origin: 100% 50%;
}

.big-slideshow_slide-img.s4 {
  background-image: url("https://uploads-ssl.webflow.com/65459ab6440c1238e7ede277/6549c36e74e347095a21adf6_3L9A3314.webp");
  background-position: 50% 50%;
  background-size: cover;
}

.big-slideshow_slide-img.s2 {
  background-image: url("https://uploads-ssl.webflow.com/65459ab6440c1238e7ede277/6549c36e74e347095a21ae00_3L9A3352.webp");
  background-size: cover;
}

.big-slideshow_slide-img.s3 {
  background-image: url("https://uploads-ssl.webflow.com/65459ab6440c1238e7ede277/6549b2ef41f8a92cdb1b8967_3L9A3327.webp");
  background-position: 50% 50%;
  background-size: cover;
}

.big-slideshow_slide-img.s1 {
  background-image: url("https://uploads-ssl.webflow.com/65459ab6440c1238e7ede277/6549c36e74e347095a21adfb_3L9A3344.webp");
  background-position: 50% 50%;
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .pointer-events.hidden-mobile {
    display: none;
  }
}

.hero-slideshow_text-wrapper {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #e8e4df;
}

.hero-slideshow_text-wrapper.hidden {
  display: none;
}

.heading-style-h2 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 700;
}

@media screen and (max-width: 991px) {
  .heading-style-h2 {
    font-size: 2.75rem;
  }
}

@media screen and (max-width: 767px) {
  .heading-style-h2 {
    font-size: 2.25rem;
  }
}

.text-align-center {
  text-align: center;
}

.text-span {
  font-size: 1.9vw;
}

@media screen and (max-width: 991px) {
  .text-span {
    font-size: 1.5rem;
  }
}

.spacer-xsmall {
  width: 100%;
  padding-top: 1rem;
}

@media screen and (max-width: 767px) {
  .spacer-xsmall {
    padding-top: 0.75rem;
  }
}

.hero-slideshow_line-divider {
  width: 15vw;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px solid whitesmoke;
}

@media screen and (max-width: 991px) {
  .hero-slideshow_line-divider {
    width: 12rem;
    margin-top: 1rem;
    margin-bottom: 0vw;
  }
}

.hero-slideshow_line-divider.left {
  margin-left: 0px;
}

.hero-slideshow_line-divider.left.dark {
  border-bottom-color: var(--primitives--brand-1);
}

.spacer-small {
  width: 100%;
  padding-top: 1.5rem;
}

@media screen and (max-width: 767px) {
  .spacer-small {
    padding-top: 1.25rem;
  }
}

.icon-wrap {
  position: absolute;
  bottom: 60px;
  z-index: 100;
}

@media screen and (min-width: 1280px) {
  .icon-wrap {
    bottom: 20px;
  }
}

.icon-scroll {
  position: relative;
  width: 40px;
  height: 70px;
  border: 1px solid white;
  border-radius: 25px;
}

.scroll-dot {
  position: absolute;
  left: 50%;
  top: 10px;
  right: auto;
  bottom: auto;

  width: 10px;
  height: 10px;

  border-radius: 50%;

  background-color: white;

  transform: translate(-50%, 0px);
}