.padding-global-2 {
  padding-right: 5%;
  padding-left: 5%;
}

@media screen and (min-width: 1920px) {
  .padding-global-2 {
    padding-top: 6rem;
  }
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
}

.padding-section-large {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

@media screen and (max-width: 991px) {
  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.section-heading_wrapper {
  position: relative;
  display: flex;
}

@media screen and (max-width: 991px) {
  .section-heading_wrapper {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 479px) {
  .section-heading_wrapper {
    justify-content: flex-start;
  }
}

.section-heading_wrapper.for-contact {
  display: none;
}

@media screen and (max-width: 767px) {
  .section-heading_wrapper.for-contact {
    display: flex;
    justify-content: flex-start;
  }
}

.section-heading_wrapper.is-visible-tablet {
  display: none;
}

@media screen and (max-width: 991px) {
  .section-heading_wrapper.is-visible-tablet {
    display: flex;
  }
}

@media screen and (max-width: 991px) {
  .heading-2 {
    font-size: 5vw;
  }
}

@media screen and (max-width: 767px) {
  .heading-2 {
    font-size: 6vw;
  }
}

@media screen and (max-width: 479px) {
  .heading-2 {
    font-size: 7vw;
  }
}

.heading-2.absolute {
  position: absolute;
  transform: translate(0px, 50%);
  font-size: 3.4vw;
}

@media screen and (max-width: 991px) {
  .heading-2.absolute {
    transform: translate(0px, -25%);
    font-size: 7vw;
  }
}

@media screen and (max-width: 767px) {
  .heading-2.absolute {
    font-size: 9vw;
  }
}

@media screen and (max-width: 479px) {
  .heading-2.absolute {
    font-size: 10vw;
  }
}

.heading-2.absolute.bigger {
  transform: none;
  font-size: 6.8vw;
}

.heading-2.absolute.white {
  color: var(--theme--text-light-1);
}

.section-heading_outlined-trigger {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -5;

  height: 100vh;
  align-self: center;
}

.section-heading_outlined {
  opacity: 0.05;
  color: hsla(0, 0.00%, 13.33%, 0.05);
  font-size: 14vw;
  line-height: 100%;
  font-weight: 700;
}

@media screen and (max-width: 991px) {
  .section-heading_outlined {
    font-size: 18.5vw;
  }
}

@media screen and (max-width: 479px) {
  .section-heading_outlined {
    font-size: 24vw;
  }
}

.section-heading_outlined.outlined {
  padding-bottom: 50px;
  opacity: 0.13;
  color: #d2caa1;
  line-height: 100%;
  white-space: nowrap;
}

@media screen and (max-width: 479px) {
  .section-heading_outlined.outlined {
    font-size: 21vw;
  }
}

.section-heading_outlined.outlined.for-testimonial {
  white-space: nowrap;
}

@media screen and (max-width: 991px) {
  .section-heading_outlined.outlined.smaller {
    padding-bottom: 0px;
    font-size: 15vw;
  }
}

.section-heading_outlined.outlined-white {
  color: white;
  white-space: nowrap;
}

.team6_list {
  display: grid;
  margin-top: 5rem;
  justify-items: center;
  align-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 4rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (min-width: 1920px) {
  .team6_list {
    margin-top: 5rem;
  }
}

@media screen and (max-width: 991px) {
  .team6_list {
    grid-column-gap: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .team6_list {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .team6_list {
    grid-template-columns: 1fr;
  }
}

.team6_item {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: stretch;
  text-align: left;
}

.team6_image-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 1rem;
  padding-top: 100%;
}

@media screen and (max-width: 767px) {
  .team6_image-wrapper {
    height: 100%;
  }
}

@media screen and (max-width: 479px) {
  .team6_image-wrapper {
    padding-top: 66%;
    aspect-ratio: 1/1;
  }
}

.team6_image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  width: 100%;
  height: 100%;

  filter: saturate(79%) sepia(12%);

  object-fit: cover;
}

.margin-bottom {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

@media screen and (max-width: 991px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

.margin-bottom.margin-xxlarge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xxlarge {
  margin: 5rem;
}

@media screen and (max-width: 991px) {
  .margin-xxlarge {
    margin: 4.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xxlarge {
    margin: 3rem;
  }
}

.margin-bottom.margin-medium {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-medium {
  margin: 2rem;
}

@media screen and (max-width: 767px) {
  .margin-medium {
    margin: 1.5rem;
  }
}

.margin-bottom.margin-custom3 {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-custom1 {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-tiny {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-tiny {
  margin: 0.25rem;
}

.margin-bottom.margin-small {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-small {
  margin: 1.5rem;
}

@media screen and (max-width: 767px) {
  .margin-small {
    margin: 1.25rem;
  }
}

@media screen and (max-width: 991px) {
  .margin-bottom.margin-small.z {
    position: relative;
    z-index: 10;
  }
}

.margin-bottom.margin-large {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-large {
  margin: 3rem;
}

@media screen and (max-width: 991px) {
  .margin-large {
    margin: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-large {
    margin: 2rem;
  }
}

.margin-bottom.margin-0 {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-0 {
  margin: 0rem;
}

.margin-bottom.margin-xlarge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xlarge {
  margin: 4rem;
}

@media screen and (max-width: 991px) {
  .margin-xlarge {
    margin: 3.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xlarge {
    margin: 2.5rem;
  }
}

.margin-bottom.margin-xhuge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xhuge {
  margin: 7rem;
}

@media screen and (max-width: 991px) {
  .margin-xhuge {
    margin: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xhuge {
    margin: 4rem;
  }
}

.margin-bottom.margin-xxhuge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xxhuge {
  margin: 10rem;
}

@media screen and (max-width: 991px) {
  .margin-xxhuge {
    margin: 7.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xxhuge {
    margin: 5rem;
  }
}

.margin-bottom.margin-huge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-huge {
  margin: 6rem;
}

@media screen and (max-width: 991px) {
  .margin-huge {
    margin: 5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-huge {
    margin: 3.5rem;
  }
}

.margin-bottom.margin-xxsmall {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xxsmall {
  margin: 0.5rem;
}

.margin-bottom.margin-custom2 {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-xsmall {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xsmall {
  margin: 1rem;
}

@media screen and (max-width: 767px) {
  .margin-xsmall {
    margin: 0.75rem;
  }
}

.margin-bottom.margin-small {
  margin-bottom: 1rem;
}

.margin-bottom.margin-small {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.text-size-large {
  font-size: 1.25rem;
}

@media screen and (max-width: 767px) {
  .text-size-large {
    font-size: 1.125rem;
  }
}

.text-weight-semibold {
  font-weight: 600;
}

#w-node-_2a005cce-7eaa-9ba1-36f4-b6983aa32311-3aa32304 {
  justify-self: stretch;
}